body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {

  margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

#supportHero input {
  padding: 15px 20px;
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.supportLinks {
  display: flex;
  flex-wrap: wrap; /* Allows links to wrap on small screens */
  justify-content: center;
  gap: 15px; /* Controls the space between links */
  margin-top: 10px;
}

.supportLinks a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}